* {
    box-sizing: border-box;
}
html {
    font-family: "Open Sans", sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(87deg, rgba(2,0,36,1) 0%, rgba(27,23,87,1) 50%, rgba(69,32,97,1) 100%);
}

a:link,
a:visited {
    color: #ba1744;
    font-weight: 700;
}
a:focus,
a:hover {
    color: #444;
}
header,
nav,
main,
section {
    margin: auto;
    width: 100%;
}
header {
    /*background-color: rgba(0, 0, 0, 0.4);
    background: url(../img/bg.png);*/
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: #fff;
    padding-top: 40px;
}
header img {
    width: 20%;
    margin-left: 6%;
    margin-bottom: 100px;
}
header .pre {
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    margin-top: -1.5em;
    margin-left: calc(6% + 100px);
    margin-bottom: 40px;
    display: block;
}
nav ul {
    margin: auto;
    width: 88%;
}
nav li {
    display: inline;
}
nav i {
    font-size: 18px !important;
    position: relative;
    top: -1px;
    margin-right: 0.5em;
    opacity: 0.6;
}
nav button {
    box-sizing: border-box;
    width: 33%;
    margin: 0 0 0.2% 0;
    border: 0;
    padding: 0.9em 0.6em;
    font-size: 1.4em;
    font-weight: 700;
    background-color: rgba(235, 231, 237, 0.8) /*rgba(0, 0, 0, 0.3)*/;
    color: #000;
    cursor: pointer;
}
nav li:nth-child(4) button {
    margin: 0;
}
nav .active {
    background-color: rgba(235, 231, 237, 1) /*#101e43*/ !important;
    color: #000 !important;
}
nav button:hover {
    background-color: rgba(235, 231, 237, 0.6);
    color: #000;
}
main {
    width: 88%;
    margin: auto;
    margin-bottom: 100px;
}
iframe {
    width: 58%;
    height: 500px;
    display: block;
    margin-bottom: 2em;
}
aside {
    font-size: 1.2em;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 2%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
    color: #fff;
}
aside em {
    color: #fff;
    margin-right: 0.5em;
    font-weight: 700;
}
#lakitu {
    width: 150px;
    position: fixed;
    right: -200px;
    top: 260px;
    z-index: 999;
    transition: all 2s;
    transition-timing-function: ease-in-out;
    animation: float 6s ease-in-out infinite;
}
#lakitu.show {
    right: 80px;
}
#achievements article:first-of-type {
    margin-top: -40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #fff;
}
#achievements article {
    padding: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#achievements article:hover {
    background-color: #5393ef;
    cursor: pointer;
}
#achievements article section {
    display: none;
}
#achievements article h3 {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}
#achievements article .coins {
    float: right;
    margin-top: -1.4em;
    font-size: 1.5em;
    font-weight: 700;
    width: 80px;
    text-align: right;
    color: #fff;
}
#achievements article .position {
    font-size: 14px;
    text-align: center;
    width: 26px;
    display: inline-block;
    padding: 3px 0;
    margin-right: 1em;
    background-color: #5393ef;
    color: #101e43;
    border-radius: 50%;
    position: relative;
    top: -3px;
}
#achievements article:nth-child(1) .position,
#achievements article:nth-child(2) .position,
#achievements article:nth-child(3) .position {
    background-color: #ba1744;
}
#achievements i {
    font-size: 18px !important;
    position: relative;
    top: -2px;
    margin-left: 0.3em;
    opacity: 0.4;
}
#achievements table {
    margin-top: 1.6em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}
#achievements .coinTable th {
    font-weight: 700;
    font-size: 0.9em;
    color: #5393ef;
    padding-top: 1em;
    width: 25%;
}
#achievements .margin {
    font-weight: 400;
    color: rgba(255, 255, 255) /*rgba(0, 0, 0, 0.4)*/;
}
#achievements .challengeTable th {
    font-weight: 700;
    font-size: 0.9em;
    color: #5393ef;
    padding-top: 1em;
    width: 20%;
    text-align: center;
}
#achievements td {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 0.5em;
}
#achievements .challengeTable td {
    text-align: center;
}
.coinTable td:last-child,
.coinTable th:last-child {
    text-align: right;
}
#achievements article:first-of-type .badgesOverview {
    border-top: 4px solid #ba1744;
}
#achievements article:first-of-type th {
    color: #ba1744;
}
.badges {
    float: right;
    margin-right: 100px;
    margin-top: -2em;
    max-width: 50.6%;
    max-height: 30px;
    overflow: hidden;
    display: block;
    text-align: right;
}
.badges li {
    display: inline;
    margin-left: 0.2em;
}
.badges img {
    width: 30px;
}
.badgesOverview {
    border-top: 4px solid #5393ef;
    background-color: #eee;
}
.badgesOverview span {
    color: #000;
}
.badgesOverview img {
    width: 60px;
    opacity: 0.3;
    margin-right: 0.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.badgesOverview li {
    width: 48%;
    float: left;
    min-height: 7.5em;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.badgesOverview li:nth-child(odd) {
    margin-right: 4%;
}
.badgesOverview .overviewTitle {
    font-weight: 700;
}
.badgesOverview .overviewInfo {
    margin-left: 5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.done .deadline {
    display: none !important;
}
.loader {
    display: block;
    padding: 6em;
    background-color: #101e43;
    text-align: center;
    color: #444;
}
.done img {
    opacity: 1;
}
.done span {
    color: #fff;
}
.selected {
    background-color: #5393ef;
}
.clear {
    clear: both;
}
.clock {
    transform: scale(0.9, 0.9);
    position: absolute !important;
    right: 6% !important;
    top: 35px;
    margin: 0 -35px 0 0 !important;
}
.flip-clock-wrapper {
    width: 620px !important;
}
.flip-clock-label {
    display: none;
}
.flip-clock-dot {
    background: #fff !important;
}
.flip-clock-wrapper a {
    color: #fff;
}
.flip-clock-wrapper ul li a div div.inn {
    color: #fff;
    background-color: #5393ef;
    text-shadow: none;
}
.hide {
    opacity: 0;
}
#instructions {
    font-size: 1.1em;
    line-height: 1.55;
    position: relative;
    color: #fff;
}
#instructions ol {
    width: 58%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#instructions li {
    padding: 1em 0 1em 3em;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}
#instructions #benodigdheden {
    width: 38%;
    float: right;
    position: absolute;
    top: 0;
    left: 62%;
}
#instructions .step {
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    width: 40px;
    display: inline-block;
    padding: 3px 0;
    margin-left: -48px;
    color: rgba(255, 255, 255) /*rgba(0, 0, 0, 0.2)*/;
    border-radius: 50%;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#instructions h4 {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
    color: #5393ef;
}
#instructions ol + h4,
#instructions table + h4 {
    margin-top: 1.5em;
}
#instructions img {
    margin-top: 1em;
    width: 100%;
    display: block;
    border: 50px solid #fff;
}
#instructions .attention {
    background-color: #ba1744;
    color: #fff;
    padding: 1.2em;
    margin: 1.4em 0;
    position: relative;
}
#instructions .attention i {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: block;
    color: rgba(255, 255, 255, 0.8);
}
#instructions .attention span {
    display: inline-block;
    margin-left: 2.7em;
}
#instructions table {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#instructions tr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#instructions th {
    font-weight: 700;
    padding: 1em 0;
    text-align: left;
}
#instructions td {
    padding: 1em 0;
    text-align: left;
}
#instructions .grey {
    color: #fff;
    width: 10%;
}
#pitshop ul,
#news ul {
    width: 100%;
}
#pitshop li {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 3%;
    vertical-align: top;
    position: relative;
}
#pitshop li:nth-child(3n + 0) {
    margin-right: 0;
}
#pitshop li.nostock {
    opacity: 0.2;
}
#pitshop i {
    font-size: 19px !important;
    position: relative;
    top: -1px;
    margin-left: 0.3em;
    opacity: 0.6;
}
#pitshop h3 {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0.8em;
    color: #5393ef;
}
#pitshop img {
    width: 100%;
}
#pitshop p {
    margin-top: 0.8em;
    text-align: justify;
    line-height: 1.55;
}
#pitshop .price {
    font-weight: 400;
    color: #fff;
}
#pitshop .stock {
    margin-top: 1.2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8em 0;
    color: #fff;
    text-align: left;
}
#pitshop .stock span {
    color: #fff;
    font-weight: 700;
}
#pitshop .star {
    background: #ba1744;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: -20px;
    text-align: center;
    z-index: 99;
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -o-transform: rotate(12deg);
}
#pitshop .star:before,
#pitshop .star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #ba1744;
}
#pitshop .star:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
#pitshop .star:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}
#pitshop .star span {
    position: absolute;
    margin-left: -38px;
    margin-top: 28px;
    z-index: 99;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
#news li {
    width: 100%;
    padding: 2em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#news li:first-of-type {
    padding-top: 0;
}
#news h3 {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -7px;
    margin-bottom: 10px;
    color: #5393ef;
    line-height: 1.1;
    max-width: 80%;
}
#news img {
    width: 30%;
    margin-right: 4%;
    display: inline-block;
}
#news article {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
#news p {
    margin-top: 0.8em;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.55;
    color: #fff;
}
#news p.date {
    color: #fff;
    margin-top: 0;
    font-weight: 700;
    font-size: 1em;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}
@media all and (max-width: 1000px) {
    .clock {
        display: none;
    }

    nav ul {
        width: 94%;
        margin: 0 auto;
    }

    nav button {
        width:32%;
    }
}
@media all and (max-width: 800px) {
    header {
        background: none;

        background-repeat: no-repeat;
        background-position: bottom;
        color: #fff;
        padding-top: 20px;
    }
    header img {
        width: 20%;
        margin-left: 6%;
        margin-top: -5px;
        margin-bottom: 50px;
    }
    header .pre {
        font-size: 1.8em;
        font-weight: 700;
        color: #fff;
        margin-top: -1.7em;
        margin-left: calc(6% + 58px);
        margin-bottom: 20px;
    }
    nav ul {
        width: 94%;
        margin: 0 auto;
    }
    nav li {
        display: inline;
        width: 32.9%;
    }
    nav i {
        font-size: 24px !important;
        top: 0;
        margin-right: 0;
    }
    nav button {
        box-sizing: border-box;
        width:32%;
        font-size: 1.2em;
    }
    nav button span {
        display: none;
    }
    nav .active {
        background-color: #ebe7ed !important;
        color: #000 !important;
    }
    nav button:hover {
        background-color: rgba(235, 231, 237, 0.6);
        color: #fff;
    }
    main {
        width: 94%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    iframe {
        width: 100%;
        height: 500px;
    }
    aside {
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
    }
    #lakitu {
        display: none;
    }
    .badges,
    .clock,
    .star {
        display: none;
    }
    #achievements article:first-of-type {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 0;
    }
    #achievements article {
        padding: 4%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    #achievements article:hover {
        background-color: #5393ef;
        cursor: pointer;
    }
    #achievements article h3 {
        font-size: 1.1em;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #fff;
    }
    #achievements article .coins {
        font-size: 1.1em;
    }
    #achievements article .position {
        top: -1px;
    }
    #achievements .coinTable th,
    #achievements .challengeTable th {
        font-size: 0.8em;
    }
    #achievements i {
        top: 0;
        font-size: 16px !important;
    }
    #achievements td {
        font-size: 1em;
        font-weight: 700;
    }
    .badgesOverview,
    #achievements table {
        margin-top: 0.6em !important;
        background-color: transparent;
    }
    .badgesOverview img {
        width: 40px;
        margin-left: 10px;
        margin-right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .badgesOverview li {
        width: 100%;
        float: none;
        min-height: 8em;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 0.9em;
    }
    .badgesOverview li:nth-child(odd) {
        margin-right: 0;
    }
    .badgesOverview .overviewInfo {
        margin-left: 66px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .loader {
        display: block;
        padding: 6em;
        background-color: #101e43;
        text-align: center;
        color: #444;
    }
    .selected {
        background-color: #5393ef;
    }
    #instructions {
        font-size: 1em;
        color: #fff;
    }
    #instructions ol {
        width: 100%;
    }
    #instructions #benodigdheden {
        float: none;
        top: auto;
        left: auto;
        position: relative;
        width: 100%;
        margin-top: 30px;
        color: #fff;
    }
    #instructions h4 {
        font-size: 1.2em;
        margin-bottom: 1em;
        color: #fff;
    }
    #pitshop li {
        display: block;
        width: 100%;
        margin: 2em 0;
        vertical-align: top;
    }
    #pitshop h3 {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 0.6em;
        color: #fff;
    }
    #pitshop p {
        margin-top: 0.6em;
        text-align: justify;
        line-height: 1.65;
        color: #fff;
    }
    #pitshop .stock {
        margin-top: 1em;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.8em 0;
        color: #fff;
        text-align: left;
    }
    #pitshop li:first-of-type {
        margin-top: 0;
    }
    #news h3 {
        font-size: 1.2em;
        margin-top: 1em;
        max-width: 100%;
        color: #fff;
    }
    #news img {
        width: 100%;
        margin-right: 0;
        display: block;
    }
    #news article {
        width: 100%;
        display: block;
        color: #fff;
    }
    #news p.date {
        margin-top: 0.4em;
    }
}

.em{
  opacity: 1 !important;
}
